<h1>Todos</h1>

<div>
    <form #f="ngForm" (ngSubmit)="addNewTodo(f)" novalidate>
            <input name="newTodo" ngModel required #newTodo="ngModel" >
            <button [disabled]="!f.form.valid" >Add</button>
    </form>
</div>

<hr />

<p *ngIf="!todos"><em>Loading...</em></p>

<table class='table' *ngIf="todos">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Created Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todo of todos">
            <td>{{ todo.id }}</td>
            <td>{{ todo.title }}</td>
            <td>{{ todo.createdDateTime }}</td>            
        </tr>
    </tbody>
</table>
